@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
::before,
::after {
    border-color: var(--border-color);
}

html {
    -webkit-font-smoothing: antialiased;
}

html:lang(en-US) *:lang(zh-CN),
html:lang(zh-CN) *:lang(en-US) {
    display: none;
}

:root {
    --color: #333333;
    --color-secondary: #0e2233;
    --color-fade-80: #333333cc;
    --color-fade-50: #33333380;
    --color-fade-20: #33333333;
    --color-fade-10: #3333331a;
    --color-fade-5: #3333330d;
    --color-error: #a64543;
    --bg-error: #f2dedf;
    --color-info: #347190;
    --bg-info: #d9edf6;
    --color-success: #547239;
    --bg-success: #def0d8;
    --color-warning: #926c39;
    --bg-warning: #fdf8e3;
    --bg: #fff;
    --bg-secondary: #eee;
    --bg-accent: #34403e;
    --color-accent: #fff;
    --border-color: #eee;
    --footer-bg: #000;
    --footer-color: #fff;
    --header-font-family: 'IM Fell English', 'Noto Serif SC', serif;
    --sans-serif-font-family: 'Inter', 'Noto Sans SC', sans-serif;
    --serif-font-family: 'EB Garamond', 'Noto Serif SC', serif;
    --page-padding: 1.5em;
    --color-shadow: #0000001a;
}

.dark-mode {
    --color: #EEE !important;
    --color-primary: #EEE !important;
    --color-secondary: #EEE !important;
    --color-fade-80: #EEEEEEcc !important;
    --color-fade-50: #EEEEEE80 !important;
    --color-fade-20: #EEEEEE33 !important;
    --color-fade-10: #EEEEEE1a !important;
    --color-fade-5: #EEEEEE0d !important;
    --bg: #222 !important;
    --bg-secondary: #333 !important;
    --border-color: #444 !important;
    --nextcolor: #DDD !important;
    --nextbg: #111 !important;
    --prevcolor: #DDD !important;
    --prevbg: #111 !important;
}

::selection {
    background: var(--color);
    color: var(--bg);
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: var(--serif-font-family);
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 15px;
}

/* Typography */

.sans-serif {
    font-family: var(--sans-serif-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font-family);
}

/* Accessibility */

.screen-reader-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/* buttons */

button.btn {
    padding: .5em 1em;
    transition: all .3s ease;
    border-radius: 3px;
}

button.inactive {
    opacity: .35;
    pointer-events: none;
}

button.btn.selected {
    background: var(--color);
    color: var(--bg);
    border-color: var(--color);
}

/* snipcart */
:root {
    --bgColor-modal: var(--bg);
    --bgColor-default: var(--bg);
    --bgColor-alt: var(--bg);
    --color-default: var(--color);
    --bgColor-buttonPrimary: var(--color);
    --bgColor-buttonPrimary-active: var(--color-fade-80);
    --bgColor-buttonPrimary-hover: var(--color-fade-80);
    --bgColor-buttonPrimary-disabled: var(--color-fade-50);
    --color-alt: var(--color-fade-50);
    --color-buttonPrimary: var(--bg);
    --color-buttonPrimary-active: var(--bg);
    --color-buttonPrimary-hover: var(--bg);
    --color-buttonPrimary-disabled: var(--bg);
    --color-buttonSecondary: var(--bg);
    --color-link: var(--color);
    --color-link-focus: var(--color-fade-80);
    --color-link-hover: var(--color-fade-80);
    --color-link-active: var(--color-fade-80);
    --color-icon: var(--color);
    --color-inputIcon: var(--color);
    --color-inputIcon-hover: var(--color-fade-50);
    --color-inputIcon-focus: var(--color-fade-50);
    --borderColor-link: var(--color);
    --borderColor-link-hover: var(--color-fade-80);
    --borderColor-link-active: var(--color-fade-80);
    --borderColor-link-focus: var(--color-fade-80);
    --borderColor-input: var(--color-fade-20);
    --borderColor-input-hover: var(--color);
    --borderColor-input-active: var(--color);
    --borderColor-input-focus: var(--color);
    --shadow-default: transparent;
    --shadow-input-focus: transparent;
    --shadow-buttonDanger-hover: transparent;
    --shadow-buttonPrimary-hover: transparent;
    --shadow-buttonSecondary-hover: transparent;
    --color-buttonSecondary: var(--color);
    --color-buttonSecondary-hover: var(--color-fade-80);
    --bgColor-buttonSecondary: var(--color-fade-5);
    --bgColor-buttonSecondary-hover: var(--color-fade-5);
    --color-input: var(--color);
    --color-input-hover: var(--color);
    --color-input-active: var(--color);
    --color-input-focus: var(--color);
    --bgColor-buttonDanger: transparent;
    --bgColor-buttonDanger-hover: var(--bg-error);
    --bgColor-error: var(--bg-error);
    --color-buttonDanger: var(--color-error);
    --color-buttonDanger-hover: var(--color-error);
    --bgColor-info: var(--bg-info);
    --color-badge: var(--color-success);
    --borderColor-badge: var(--color-success);
    --bgColor-badge: var(--bg-success);
    --color-badge-active: var(--color-success);
    --borderColor-badge-active: var(--color-success);
    --bgColor-badge-active: var(--bg-success);
    --color-inputLabel: var(--color);
    --bgColor-input-checked: var(--color);
    --bgColor-input: var(--bg);
    --bgColor-input-hover: var(--bg);
    --bgColor-input-active: var(--bg);
    --bgColor-input-focus: var(--bg);
    --bgColor-input-checked: var(--color);
    --color-input-checked: var(--bg);
    --borderColor-input-checked: var(--color);
    --shadow-input-checked: transparent;
    --bgColor-buttonPrimary-focus: var(--color-fade-80);
    --shadow-buttonPrimary-focus: transparent;
}

#snipcart {
    position: relative;
    z-index: 50;
}

.snipcart::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color);
    opacity: 0;
    transition: opacity .3s ease;
    pointer-events: none;
    z-index: 1;
}

html.snipcart-sidecart--opened .snipcart::before {
    opacity: .5;
}

.snipcart,
.snipcart-base-button__label,
.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small,
.snipcart-modal__close,
.snipcart-button-link {
    font-family: var(--sans-serif-font-family);
}

.snipcart-button-link {
    padding: 0;
}

.snipcart {
    font-weight: 400;
}

.snipcart-modal__close-title {
    font-weight: 500;
}

.snipcart-modal__close:focus {
    outline: none;
}

h2.snipcart-item-line__title {
    font-family: var(--header-font-family);
    width: 100%;
    font-weight: 400;
}

.snipcart-flash-message--error {
    margin: 1em;
    border-radius: 3px;
    width: auto;
    color: var(--color-error);
}

.snipcart-flash-message--info {
    margin: 1em;
    border-radius: 3px;
    width: auto;
    color: var(--color-info);
}

h2.snipcart-flash-message__title {
    font-size: 0.75rem;
    line-height: 1rem;
}

.snipcart * {
    line-height: inherit;
}

.snipcart__font--std {
    font-size: inherit;
}

.snipcart__font--large {
    font-size: 15px;
}

.snipcart-button-primary,
.snipcart-empty-cart .snipcart-button-secondary,
.snipcart-cart__footer-buttons .snipcart-button-link {
    background-color: var(--bgColor-buttonPrimary);
    color: var(--color-buttonPrimary);
    text-transform: uppercase;
    padding: .5em 1em;
    font-weight: 500;
    border-radius: 3px;
}

.snipcart-cart__footer-buttons .snipcart-button-link {
    margin-top: .5rem;
    width: 100%;
}

.snipcart-button-secondary:hover {
    background-color: var(--color-fade-80);
}

.snipcart-empty-cart,
.snipcart-empty-cart__title {
    height: 100%;
}

.snipcart-empty-cart {
    padding-bottom: calc(2 * var(--page-padding));
}

.snipcart-cart-summary__content {
    border-radius: 3px;
    background-color: var(--color-fade-5);
    padding: var(--page-padding);
}

.snipcart-cart-summary-side .snipcart-cart__secondary-header {
    padding: 0 var(--page-padding);
    border-bottom: 1px solid var(--color-fade-5);
}

.snipcart-cart-summary-item {
    margin-right: 0;
}

.snipcart-form__select,
.snipcart-item-quantity__quantity {
    padding: .5em 1em;
    border-radius: 3px;
    height: 38px;
}

.snipcart-cart__featured-payment-methods-container,
.snipcart-cart-summary__footer {
    display: none;
}

.snipcart-cart-summary__separator {
    width: 100%;
    margin: var(--page-padding) 0;
}

.snipcart-flash-message.snipcart-flash-message--error+.snipcart-item-line__container .snipcart-item-line__product {
    opacity: .5;
}

.snipcart-item-quantity__quantity.snipcart-item-quantity__quantity--disabled {
    color: var(--color-input-hover);
}

.snipcart-item-line__container {
    margin: 0;
    padding: var(--page-padding);
    border-bottom: 1px solid var(--color-fade-5);
}

.snipcart-item-line--cart-edit .snipcart-item-line__title {
    padding-left: 0;
}

.snipcart-item-line:last-child .snipcart-item-line__container {
    border-bottom: none;
}

.snipcart-item-list {
    margin-bottom: 0;
}

.snipcart-item-line__content {
    font-size: 13px;
}

.snipcart-summary-fees * {
    text-transform: uppercase;
    font-size: 13px;
}

.snipcart-summary-fees__item:not(:last-child) {
    margin-bottom: 0;
}

.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line .snipcart-item-line__container,
.snipcart-cart__footer {
    padding: var(--page-padding);
}

.snipcart-test-banner {
    border: none;
}

.snipcart-test-banner__message {
    background-color: transparent;
    opacity: .5;
}

.snipcart-cart-summary--edit.snipcart-modal__container {
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
}

.snipcart-item-line__media--small {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
}

.snipcart-item-line--cart-edit .snipcart-item-line__image {
    max-width: 80px;
    border-radius: 3px;
}

.snipcart-item-line__header {
    gap: 1rem;
}

.snipcart-cart-summary-side .snipcart-cart__footer {
    padding: var(--page-padding);
    border-top: 1px solid var(--color-fade-5);
}

.snipcart-cart-header__options {
    display: none;
}

.snipcart-cart-header {
    border-bottom: 1px solid var(--color-fade-5);
}

.snipcart-item-line--cart-edit {
    border: none;
}

.snipcart__box--badge {
    border: 1px solid;
    height: 32px;
    width: 32px;
}

.snipcart-checkout-step__icon {
    opacity: .35;
    margin-right: .5em;
}

.snipcart-cart__secondary-header-title,
.snipcart-cart-header__title,
h1.snipcart__font--subtitle {
    text-transform: uppercase;
    font-size: 1.1em;
}

.snipcart__font--subtitle-small,
.snipcart__font--tiny {
    font-size: inherit;
}

.snipcart-input {
    border-radius: 3px;
    height: 37px;
}

.snipcart-input__input {
    padding: .5em 1em;
}

.snipcart-form__address-autocomplete>.snipcart-textbox {
    min-height: 38px;
}

.snipcart-layout__col {
    margin: 0;
}

.snipcart-shipping-rates-list-item,
.snipcart-shipping-rates-list-item--highlight {
    padding: .5em 1em;
    border-radius: 3px;
}

.snipcart-cart-summary-item__name {
    font-family: var(--header-font-family);
}

.snipcart-form-radio:checked+label:after {
    left: -3px;
}

.snipcart-item-line__info:empty {
    padding: 0;
}

.snipcart-payment-card-form.snipcart-payment-card-form--loaded {
    filter: brightness(0.5) invert(1) hue-rotate(180deg);
}

@media (max-width: 1023px) {
    .snipcart__box--badge {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .snipcart__box--title {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .snipcart-checkout-step__col {
        width: calc(50% - 1rem);
    }

}