@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

:root {
    --color: #333;
    --color-primary: #e6e6e6;
    --color-secondary: #0e2233;
    --bg: #f7f7f7;
    --bg-secondary: #fff;
    --border-color: #e4e7eb;
    --footer-bg: #000;
    --footer-color: #fff;

}

.dark-mode {
    --color: #DDD !important;
    --color-primary: #DDD !important;
    --color-secondary: #DDD !important;
    --bg: #111 !important;
    --bg-secondary: #111 !important;
    --border-color: #DDD !important;
    --nextcolor: #DDD !important;
    --nextbg: #111 !important;
    --prevcolor: #DDD !important;
    --prevbg: #111 !important;
}

::selection {
    background: var(--color);
    color: var(--bg);
}

body {
    font-family: 'EB Garamond', serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s ease;
    font-size: 15px;
}

/* Typography */

.sans-serif {
    font-family: 'BW Gradual', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IM Fell English', serif;
}

/* Accessibility */

.screen-reader-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/* buttons */

button.btn {
    padding: .5em 1em;
    transition: all .3s ease;
    border-radius: 3px;
}

button.inactive {
    opacity: .35;
    pointer-events: none;
}

button.btn.selected {
    background: var(--color);
    color: var(--bg);
    border-color: var(--color);
}